img.fotoMetro{
    width: 300px;
    position: absolute;
    left: 2%;
    top: 11%;
    border: 1px solid blueviolet;
    border-radius: 10px;

}
h1.titulo{
    text-align: center;
    margin-top: 4%;
}
.seleccion {
    background-color: white;
    border: 1px solid blueviolet;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 5%;
    padding: 20px;
    width: 600px;
}
select.form-select {
    margin-bottom: 15px;
}
