img.fotoMetro{
    width: 30%;
    
}
.seleccion {
    background-color: white;
    border: 1px solid blueviolet;
    border-radius: 10px;
    margin-left: 32%;
    margin-top: 10%;
    padding: 20px;
    width: 600px;
}
select.form-select {
    margin-bottom: 15px;
}
